
 <div style="margin-top: 50px;margin-left: 50px;">
<div>
    <img src="/assets/family.jpg"  style="height: 250px; width: 100%; position: relative; text-align: center; color: white;" alt="img">
    <div class="centered">  
      Product catalouge 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search"  style="border-radius: 40px;" aria-label="Search">
        <button class="btn btn-primary" style="border-radius: 30px;" type="submit">Search</button>
      </form>
    </div>
</div>

</div> 

<div class="row" style="margin-top: -170px;">
    <div class="column">
      <div class="card card1">
        <span class="material-icons-outlined icon1" style="margin-top: 10px;">
          flight
          </span>
        <h3 class="size">Travel Insurance</h3>
      </div>
    </div>
  
    <div class="column">
      <div class="card  card1 d">
        <span class="material-icons-outlined icon1" style="margin-top: 10px">

          timeline
          
         </span>
        <h3 class="size" routerLink="/health">Health Insurance</h3>
      </div>
    </div>
    
    <div class="column">
      <div class="card card1 ">
       <span class="material-icons-outlined icon1" style="margin-top: 10px">

          favorite_border
          
        </span>
        <h3 class="size">Life Insurance</h3>
       
      </div>
    </div>

    <div class="column">
      <div class="card card1">
       <span class="material-icons-outlined icon1" style="margin-top: 10px">

          home
          
          </span>
        <h3 class="size">Home Insurance</h3>
       </div>
    </div>
    
    <div class="column">
        <div class="card card1">
          <span class="material-icons-outlined icon1" style="margin-top: 10px">

            directions_car
            
            </span>
          <h3 class="size">Car Insurance</h3>
         </div>
      </div>
      
    <div class="column">
        <div class="card card1">
         <span class="material-icons-outlined icon1" style="margin-top: 10px">

            cruelty_free
            
           </span>
          <h3 class="size">Pet Insurance</h3>
         </div>
      </div>
      
  </div>
<div style="margin-top: -60px; margin-left: 70px; font-size: 13px;">
  <b>Trending Insurance Plans</b>  
    <br>
    Insurance Plans and policies by CG Insurance
</div>


<div class="row1">
    <div class="column1">
      <div class="card card2">
        
        <div class="card card3">
            <i class="fa-brands fa-square-whatsapp" style="color:#25D366; margin-left: 150px; font-size: 40px;"></i>
            <p class="add">CG Protect</p>
            <p style="font-size: small; color: #1d1d70;">
                  With the world in the midst of a pandemic,
                You're having to deal with
                increased uncertainties on daily basis.</p>
        </div>
<div style="width: 150px; height: 30px;border-radius: 20px; display: flex; margin-top: 20px; justify-content: space-between;">
    <button class="btn btn-primary">QUOTE</button>
        <button style=" margin-left: 70px; border: none; background-color: white; cursor: pointer; color: #1d1d70; font-weight: 900;">VIEW</button>
</div>
 </div>
</div>
  
    <div class="column1">
      <div class="card card2">
        <div class="card card3">
            <i class="fa-brands fa-square-whatsapp" style="color:#25D366; margin-left: 150px; font-size: 40px;"></i>
            <p class="add">CG Travel X</p>
            <p style="font-size: small; color: #1d1d70;">
                  With the world in the midst of a pandemic,
                You're having to deal with
                increased uncertainties on daily basis.</p>
        </div>

        <div style="width: 150px; height: 30px;border-radius: 20px; margin-top: 20px; display: flex; justify-content: space-between;">
            <button class="btn btn-primary"> QUOTE</button>
                <button style=" margin-left: 70px; border: none; background-color: white; cursor: pointer; color: #1d1d70; font-weight: 900;">VIEW</button>
        </div>
  
      </div>
    </div>


    <div class="column1">
      <div class="card card2">
        <div class="card card3">
            <i class="fa-brands fa-square-whatsapp" style="color:#25D366; margin-left: 150px; font-size: 40px;"></i>
            <p class="add">Covid Protect</p>
            <p style="font-size: small; color: #1d1d70;">
                  With the world in the midst of a pandemic,
                You're having to deal with
                increased uncertainties on daily basis.</p>
        </div>

        <div style="width: 150px; margin-top: 20px; height: 30px;border-radius: 20px; margin-top:20px; display: flex; justify-content: space-between;">
            <button class="btn btn-primary">QUOTE</button>
                <button style=" margin-left: 70px; border: none; background-color: white; cursor: pointer; color: #1d1d70; font-weight: 900;">VIEW</button>
        </div>

    </div>
    </div>


        <div class="column1">
      <div class="card card2">
        <div class="card card3">
            <i class="fa-brands fa-square-whatsapp" style="color:#25D366; margin-left: 150px; font-size: 40px;"></i>
            <p  class="add" >TravelSure</p>
            <p style="font-size: small; color: #1d1d70;">
                  With the world in the midst of a pandemic,
                You're having to deal with
                increased uncertainties on daily basis.</p>
        </div>
        <div style="width: 150px; height: 30px;border-radius: 20px; display: flex;margin-top: 20px; justify-content: space-between; ">
            <button class="btn btn-primary">QUOTE</button>
                <button style=" margin-left: 70px; border: none; background-color: white; cursor: pointer; color: #1d1d70; font-weight: 900;">VIEW</button>
        </div>
      </div>
    </div> 
  </div>


<div  class="card" style="margin-left: 60px; margin-top: -50px;">
    <div class="card-body">
      <p>Benefits</p>
        <ul>
            <li>Get fixed lump sum payout irrespective of the actual expenses incurred for diag</li>
            <li>Make Multiple Claims for same or diffrent conditions or procedures.</li>
            <li>Indexation benefit to stay ahead of medical inflation.</li>
        </ul>
    </div>
   
</div>