.box{
    
    margin-left:25px;
    margin-top: 20px;
}
.button-wrapper{
display: flex;
justify-content: space-between;

}

.view{
    cursor: pointer;
    width: 80px;
    height: 40px;
    text-align:calc(-100);
    
}