.cgcontainer {
  position: end;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

  width: 1200px;

  margin-top: 55px;

  margin-left: 62px;


  display: flex;

  justify-content: flex-end;

  position: fixed;

  border: none;
}
