<!-- <nav class="navbar fixed-top  bg-light shadow">
  <div class="container-fluid">
    <div class="side-nav-button" (click)="SideNavToggled()">
    <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brand">Ins Agent portal</a>  
      <form class="d-flex me-5" role="search">
        <div class="nav1" style="margin-right: 400px;" >
        <input class="form-control me-2" type="search"  placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
      </form>
    </div>
  </nav>
  <div><i class="fa-regular fa-bell" style="color: #00e1ff;"></i></div> -->

<nav class="navbar fixed-top bg-light shadow" style="height: 60px">
  <div class="container-fluid">
    <div class="navbar-brand">
      <i class="fa-solid fa-circle"></i><strong> Ins </strong
      ><i class="fa-solid fa-circle"></i>
      <p class="portal">Agent's Portal</p>
    </div>

    <div class="search">
      <form role="search">
        <input
          class="form-control me-2"
          type="search"
          aria-label="Search"
          placeholder="&#xF002; |  Search keyword"
          style="border-radius: 40px; font-family: Arial, FontAwesome"
        />

        <!-- <button class="btn btn-outline-success" type="submit" style="border-radius: 40px;">Search</button> -->
      </form>
    </div>

    <div class="icons">
      <div>
        <mat-icon matBadge="9" matBadgeColor="warn"></mat-icon
        ><i class="fa-regular fa-bell" style="width: 30px; font-size: 22px"></i>
        <i class="fa fa-circle-user" style="font-size: 22px"></i>
      </div>
    </div>
  </div>
</nav>
