<!-- 

<div style="margin-left:100px ; margin-top:80px; cursor: pointer;" >
  <i class="fa-solid fa-chevron-left" routerLink="/dashboard"> </i>
  Expired
</div>
<div>
  <div class="dropdown" style="margin-left:100px ; margin-top: 40px; ">
    <button class="btn dropdown-toggle" type="button" style="background-color: azure;" data-bs-toggle="dropdown" aria-expanded="false">
      All policies
    </button>
    <ul class="dropdown-menu" style="border-radius: 15px;">
      <li><a class="dropdown-item" href="/expired" >Refresh</a></li>
      <li><a class="dropdown-item" href="#">Documents</a></li>
      <li><a class="dropdown-item" href="#" >Insurance</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin-top: 40px; width: 1000px; margin-left: 100px">

   <table class="table table-striped">
    
    <thead>
    
     <tr>
    
     <th scope="col">ID</th>
    
    
    
    
    <th scope="col">Name</th>
    
    
    
    
  <th scope="col">Insurance</th>
    
    
    
    
   <th scope="col">Contact</th>
    
    
    
    
    <th scope="col">Status</th>
    
   <th scope="col">Date</th>
    
  </tr>
    
    </thead>
    
    
    
    
   <tbody>
   
    <tr *ngFor="let item of expiredList" (click)="sortTable(item.insurance)">
      
    
     <td>{{ item.id }}</td>
    
    
    
    
     <td>{{ item.name }}</td>
    
    
    
    
     <td>{{ item.insurance }}</td>
    
    
    
    
     <td>{{ item.contact }}</td>
    
    
    
    
     <td>{{ item.status }}</td>
    
     <td>{{ item.date }}</td>
    
    
    
    
     <td><i class="fa fa-envelope" aria-hidden="true"><a href="https://outlook.live.com/owa/" target="_blank"> mail</a></i></td>
    
     </tr>
    
     </tbody>
    
     </table>
    
    </div> -->

<!-- <div class="container">
  <div class="search-container"></div> -->
 <div style="margin-left:100px ; margin-top:60px; cursor: pointer;" >  <i class="fa-solid fa-chevron-left" routerLink="/dashboard"> </i>Expired</div> 
    <mat-form-field appearance="fill" style="margin-top: 10px; margin-left: 800px;">
      <mat-select (selectionChange)="Onchange($event)">
        <mat-option value="Corona Kavach">Corona Kavach</mat-option>
        <mat-option value="Protect Plus">Protect Plus</mat-option>
        <mat-option (click)="refresh()">Refresh</mat-option>
      </mat-select>
    </mat-form-field>

<div style="width: 70%; margin-left: 170px; margin-top: -10px;">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="insurance">
        <th mat-header-cell *matHeaderCellDef> insurance </th>
        <td mat-cell *matCellDef="let element"> {{element.insurance}} </td>
      </ng-container>
  
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef> contact </th>
        <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>