




<div

 class="back"

 style="margin-left: 100px; margin-top: 100px; cursor: pointer"

>

 <i class="fa-solid fa-chevron-left" onclick="window.location.href='/applicants'"></i>

</div>




<div class="card" style="margin-left: 100px; height: 300px; width: 1100px">

 <div class="card-header" style="height: 100px;background-color: rgb(73, 73, 121);">

 <div class="row justify-content-between">

<div class="col-4">

 <div
 class="rounded-circle border"
 style="
  width: 80px;
  height: 80px;
   background-image: url('../../assets/images.jpg');
   background-position: center center;
   background-size: cover;
 "

 ></div>




 <div style="float: left; margin-top: -70px; margin-left: 100px;color: #fff;">
 <h2>{{ data.policyowner }}</h2>



 <p>91799992926</p>

 </div>

</div>




<div class="col-3">

 <i class="fa fa-pencil icon"></i>




 <i class="fa fa-phone-volume icon"></i>




 <i class="fa fa-envelope icon"></i>

</div>

 </div>

 </div>




 <div class="container" style="padding-top: 20px">

 <div class="row align-items-start">

<div class="col">

 <p class="h4">Product Name</p>




 <p>
 <strong>{{ data.prdtype }}</strong>

 </p>

</div>




<div class="col">

 <p class="h4">Life Assured Name</p>




 <p>
 <strong>{{ data.Lifeinsured }}</strong>

 </p>

</div>




<div class="col">

 <p class="h4">Address</p>




 <p><strong>T33, washington</strong></p>

</div>

 </div>




 <div class="row align-items-start">

<div class="col">

 <p class="h4">Email</p>




 <p><strong>123@gmail.com</strong></p>

</div>




<div class="col">

 <p class="h4">Status</p>




 <p>
 <strong>{{ data.status }}</strong>

 </p>

</div>




<div class="col">

 <p class="h4">Submission date</p>




 <p>
 <strong>{{ data.date }}</strong>

 </p>

</div>

 </div>

 </div>

</div>





