<div class="card" style="width: 480px; margin-top: -60px;border-radius: 15px; border: none; box-shadow: 0px 5px 10px rgba(0, 0, 0,0.15);" >
  <div class="card-body">
    <h5>Top selling products</h5>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>Health Protect Plus</td>

          <td>
            <progress
              id="health"
              max="100"
              style="accent-color: hsl(23, 90%, 30%)"
              value="70"
            >
              70%
            </progress>
          </td>

          <td>455</td>

          <td>sold</td>
        </tr>
        <tr>
          <td>Covid Shield Plus</td>
          <td>
            <progress
              id="covid-shield"
              max="100"
              value="70"
              style="accent-color: red"
            >
              70%
            </progress>
          </td>
          <td>412</td>

          <td>sold</td>
        </tr>

        <tr>
          <td>CG Term Life</td>

          <td>
            <progress
              style="color: blue"
              id="cg-term-life"
              max="100"
              value="70"
            >
              70%
            </progress>
          </td>
          <td>340</td>
          <td>sold</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
