<div class="back" style="margin-top: 80px; margin-left: 100px; cursor: pointer">

 <i class="fa-solid fa-chevron-left" routerLink="/dashboard"></i>
    
 Quotation Summary
    
    </div>
    
    
    
    
    <div
    
 class="card"
    
 style="width: 1000px; height: 300px; padding: 15px; margin-left: 120px"
    
    >
    
 <div class="row align-items-start" style="padding-top: 15px">
    
 <div class="col">
    
  <p class="light">Quotation Reference</p>
    
  <p><strong>GRH/3345</strong></p>
    
 </div>
    
 <div class="col-3">
    
  <p class="light">Premimum</p>
    
  <p><strong>$70 per week</strong></p>
    
 </div>
    
 </div>
    
 <hr />
    
 <div class="row align-items-start">
    
 <div class="col">
    
  <p class="light">Product</p>
    
  <p><strong>CG Protect</strong></p>
    
 </div>
    
 <div class="col-3">
    
  <p class="light">sum insured upto</p>
    
  <p><strong>$200,000</strong></p>
    
 </div>
    
 </div>
    
    
    
    
 <div class="row align-items-start" style="padding: 25px">
    
 <div class="col">
    
  <button class="btn btn-outline-secondary">VIEW BENEFITS</button>
    
 </div>
    
 <div class="col-2" style="font-size: 22px">
    
  <i class="fa fa-share-nodes" style="width: 50px"></i>
    
  <i
    
   class="fa-brands fa-square-whatsapp"
    
   style="color: rgb(49, 228, 109)"
    
  ></i>
    
 </div>
    
 </div>
    
    </div>
    
    <div
    
 class="card"
    
 style="width: 1000px; height: 430px; margin-left: 120px; padding: 20px; margin-top:30px;" 
    
    >
    
 <div class="row justify-content-between">
    
 <div class="col">
    
  <div>
    
   <span
    
    class="material-icons-outlined"
    
    style="
    
    background-color: rgb(164, 202, 164);
    
    border-radius: 50%;
    
    font-size: 40px;
    
    "
    
   >
    
    check_circle
    
   </span>
    
  </div>
    
    
    
    
  <div style="float: left; margin-left: 60px; margin-top: -40px">
    
   <h4 style="font-weight: 900; margin-bottom: 5px">
    
    Applicantion has been sent for review.
    
   </h4>
    
   <p>You will get notified once the application is reviewed</p>
    
  </div>
    
 </div>
    
 <div class="col-3" style="display: flex; justify-content: space-between">
    
  <span class="material-icons-outlined icon1"> edit </span>
    
    
    
    
  <span class="material-icons-outlined icon1"> wifi_calling_3 </span>
    
    
    
    
  <span class="material-icons-outlined icon1"> email </span>
    
 </div>
    
 </div>
    
    
    
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Application no.</p>
    
 </div>
    
 <div class="col dark">
    
  <p>55343766</p>
    
 </div>
    
 </div>
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Product Name</p>
    
 </div>
    
 <div class="col dark">
    
  <p>CG Protect</p>
    
 </div>
    
 </div>
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Applicant's Name</p>
    
 </div>
    
 <div class="col dark">
    
  <p>John Smith</p>
    
 </div>
    
 </div>
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Address</p>
    
 </div>
    
 <div class="col dark">
    
  <p>1533,Mccandless,Miliptas</p>
    
 </div>
    
 </div>
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Email</p>
    
 </div>
    
 <div class="col dark">
    
  <p>Jhon.smith@xyz.com</p>
    
 </div>
    
 </div>
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Status</p>
    
 </div>
    
 <div class="col">
    
  <p style="background-color: orange; color: white; width: 100px">
    
   UW Process
    
  </p>
    
 </div>
    
 </div>
    
 <div class="row align-items-start">
    
 <div class="col light">
    
  <p>Submission Date</p>
    
 </div>
    
 <div class="col dark">
    
 <p>01/02/2014</p>
    
 </div>
    
 </div>
    
    </div>