.fa-circle-check{
    font-size: 40px;
    background-color: rgba(160, 134, 134, 0.338);
    color: green;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}
.icon1{

 background-color: #fff;
    
 font-size: 20px;
    
 width: 40px;
    
 height: 40px;
    
 padding:10px;
    
 border-radius: 80%;
    
 margin-left: 20px;
    
 margin-top: 15px;
    
 box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    
    
    
    
    }
    
    
    
    
    .light{
    
 color: rgb(94, 94, 94);
    
    }
    
    
    
    
    .dark{
    
 font-weight: 500;
    
    }
    
    
    
    
    button{
    
 color: rgb(73, 73, 121);
    
 background-color: white;
    
 border-color:rgb(73, 73, 121);
    
      border-radius: 25px;
    
 font-size: 12px;
    
 width: 150px;
    
    }